{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>파이보</title>
</head>
<body>
{% include "navbar.html" %}
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-2 p-2">
            {% include "category.html" %}
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10 p-2">
            <div id="content" class="border-top border-secondary">
                <div class="content_block">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </div>
    </div>
</div>

<!-- jQuery js -->
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<!-- bootstrap js -->
<script src="{% static 'bootstrap.min.js' %}">s</script>
<!-- JS start -->
{% block script %}
{% endblock %}
<!-- JS end -->
</body>
</html>